---
import Layout from "../layouts/Layout.astro";

const handleSubmit = () => {
    console.log("submit");
};
---

<Layout title="signin">
    <div class="container">
        <div class="sign-window">
            <form class="form" method="POST">
                <h3>Sign in</h3>
                <label for="login">login</label>
                <input name="login" type="text" />
                <label for="password">password</label>
                <input name="password" type="password" />
                <button name="login" onclick="handleSubmit">sign in</button>
            </form>
        </div>
    </div>
</Layout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sign-window {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 10px; */
        border: 1px solid darkgray;
        border-radius: 10px;
    }
    .form h3 {
        margin: 8px 0;
    }
    .form > input {
        width: 200px;
        margin: 8px;
    }
    .form > label {
        color: gray;
        margin: 2px;
    }
    .form > button {
        width: 100px;
        margin: 8px;
    }
    .form > input[type="submit"] {
        width: 100px;
    }
</style>
